.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #eaebed;
    padding: 15px;
}
.heading {
    color: #0b69ff;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto";
}
.para {
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
}
.button {
    background-color: #0b69ff;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    padding: 5px;
    border-width: 0px;
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto"
}